{% extends "admin/base.html" %}
{% block extrahead %}
 <script charset="utf-8" type="text/javascript">
      (function($){
          $(document).ready(function(){
              grappelli.initDateAndTimePicker();
              $("#grp-content-container .grp-group").grp_collapsible_group();
              $("#grp-content-container .grp-collapse").grp_collapsible({
                  on_init: function(elem, options) {
                      // open collapse (and all collapse parents) in case of errors
                      if (elem.find("ul.errorlist").length > 0) {
                          elem.removeClass("grp-closed")
                              .addClass("grp-open");
                          elem.parents(".grp-collapse")
                              .removeClass("grp-closed")
                              .addClass("grp-open");
                      }
                  }
              });
              $("select#id_projects").change(function () {
                  alert("test");
                  $.getJSON("/tasks/project/", {id: $(this).val(), view: 'json'}, function (j) {
                      var options = '<option value="">--------&nbsp;</option>';
                      for (var i = 0; i < j.length; i++) {
                          options += '<option value="' + j[i].id + '">' + j[i].short_description + '</option>';
                      }
                      $("#id_tasks").html(options);
                      $("#id_tasks option:first").attr('selected', 'selected');
                  })
                  $("#id_project").attr('selected', 'selected');
              });
              $('#add_more').click(function() {
                  cloneMore('#oneform', 'form');
              });
          });
          function cloneMore(selector, type) {
              var total = $('#id_' + type + '-TOTAL_FORMS').val();
              var newElement = $(selector+"[name=form-"+(total-1)+"]").clone(false);
              var name = "form-"+total
              newElement.attr({'name': name}).val('')
              newElement.find(':input').each(function() {
                  if ($(this).attr('name')) {
                  var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                  var id = 'id_' + name;
                  $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                  }
              });
              newElement.find('label').each(function() {
                  var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                  $(this).attr('for', newFor);
              });
              newElement.find('.ui-datepicker-trigger').remove();
              newElement.find('.vDateField').each(function() {
                  $(this).removeClass('hasDatepicker')
              });
              newElement.find('.ui-timepicker-trigger').remove();
              newElement.find('.vTimeField').each(function() {
                  $(this).removeClass('hasTimepicker')
                  $(this).grp_timepicker();
              });
              total++;
              $('#id_' + type + '-TOTAL_FORMS').val(total);
              $(selector).after(newElement);
              grappelli.initDateAndTimePicker();
          }
      })(grp.jQuery);
</script>
{% endblock %}
{% block title %}
Reporting
{% endblock %}

{% block content %}


<form action="" method="post">{% csrf_token %}
    {{ formset.management_form }}
<div>
    <table>
    {% for form in formset %}
    {% if forloop.first %}
    <tr>
        {% for field in form %}
        <th>{{ field.label }}</th>
        {% endfor %}
        <th>Delete</th>
    </tr>
    {% endif %}<tr id='oneform' name="form-0">
            {% for field in form %}
            <td>{{ field }}</td>
            {% endfor %}
        {% if formset.can_delete %}
            <td>{{ form.DELETE }}</td>
        {% else %}
            <td></td>
        {% endif %}</tr>
    {% endfor %}
    </table>
</div>{% for obj in queryset %}
<input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />{% endfor %}
<input type="button" value="Add More" id="add_more">
<input type="hidden" name="action" value="work_report" />
<input type="hidden" name="post" value="yes" />
<input type="submit" name="cancel" value="cancel" />
<input type="submit" name="register" value="register" />
</form>
{% endblock %}

