{% extends "admin/base.html" %}
{% block title %}
Register Payment Amount
{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
    <table>
        {% for obj in queryset %}
        <tr>
            <td>
                Amount to Register:
            </td>
            {{ form }}
            <td>
                Amount on Invoice:
            </td>
            <td>
                {{ obj.last_calculated_price }}
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}"/>
                <input type="hidden" name="action" value="register_payment_in_accounting"/>
                <input type="hidden" name="post" value="yes"/>
                <input type="submit" name="cancel" value="cancel"/>
                <input type="submit" name="register" value="register"/>
            </td>
        </tr>
    </table>
    {% endfor %}
</form>
{% endblock %}

