*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
/static/media/galleries/
/static/media/uploads/galleries/
/static/media/uploads/icons/
/static/media/uploads/slider/
/static/media/uploads/xfgs/
.idea
doc/build/
/Theme/
.vagrant
pip-log.txt
build