language: python
python:
  - "2.7"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install python-dev python-pip python-lxml libcairo2 libpango1.0-0 libgdk-pixbuf2.0-0 libffi-dev shared-mime-info
install:
  - pip install -r requirements.txt
  - pip install python-coveralls
  - pip install coverage
script:
  - python manage.py check
  - python manage.py migrate --noinput
  - coverage run --source='.' manage.py test crm_core
  - coverage report
after_success:
  - coveralls
