Django<1.8
Mezzanine>=3.1.10
po-localization
django-bootstrap3
django-braces>=1.4.0
django-import-export>=0.2.6
django-fsm>=2.2.0
django-extra-views>=0.6.5
django-debug-toolbar
sphinx-rtd-theme
django-extensions
coverage
WeasyPrint
django-utils2
django-crispy-forms
django-datetime-widget
django-datatable-view