Mezzanine>=3.1.10
Django<1.8
po-localization>=0.5.3
django-bootstrap3>=4.11.0
django-braces>=1.4.0
django-import-export>=0.2.6
django-fsm>=2.2.0
django-extra-views>=0.6.5
django-debug-toolbar
sphinx-rtd-theme
django-extensions
django-compressor
coverage
django-filter>=0.8