Mezzanine>=4.0.1
cartridge
Django>1.8
django-solo
django-bootstrap3
django-braces>=1.4.0
django-fsm>=2.2.0
django-extra-views>=0.6.5
django-utils2>=1.8.0
WeasyPrint
django-crispy-forms
django-datetime-widget
django-extensions
django-tables2
django-reversion
django-smuggler
django-ajax-selects
django-debug-toolbar
sphinx-rtd-theme
django-extensions
coverage
