/* STANDARD TAG REDEFINITIONS */
BODY
{
	color: #000000;
	font-family: Arial, Helvetica,sans-serif;
	font-size: 10pt;
	background-color: #FFFFFF;
	margin: auto;
	padding: 0;
	width: 1800px;
}
.websiteouter
{
	color: #000000;
	font-family: Arial, Helvetica,sans-serif;
	font-size: 10pt;
	background-image: url(/media/website/img/bilchbuechleindotchhintergrund_small.jpg);
	background-repeat:repeat;
	margin-left: 150px;
	margin-right: 150px;
	padding: 0px;
	width: 1500px;
}
.websiteinner
{
	background-image: url(/media/website/img/bilchbuechleindotchhintergrund_opacity08_small.jpg);
	background-repeat:repeat;
	width: 900px;
	min-height: 800px;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 20px;
}

.websiteouter .header
{
	width:900px;
	clear: both;
}
.websiteouter .header ul
{
	margin: 0;
	padding-left: 0;
	height: 44px;
	line-height: 44px;
	display: block;
	list-style: none;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
}
.websiteouter .header li
{
	display:inline;
	background-color: #222222;
	float: right;
}
.websiteouter .header a
{
	color: #FFFFFF;
	text-decoration: none;
}
.websiteouter .header a:hover
{
	text-decoration: underline;
	color: #FFFFFF;
}
.websiteouter .header li a{
	height: 44px;
	line-height: 44px;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid Black;
	float: left;
	width: 128px;
}
.websiteouter .header  li a:hover
{
	background-color: #4D4D4D;
	text-decoration: none;
}
.websiteouter .header .Visual
{
	height:130px;
	background-repeat: no-repeat;
	background-color: #000000;
	border-top: 3px solid Black;
}
h1
{
	margin: 0 0 20px 20px;
	padding: 40px 0 0 0;
	font-family: "trebuchet ms",arial,tahoma,verdana,sans-serif;
	font-weight: normal;
	letter-spacing: 0.005em;
	color: #000000;
	font-size: 20pt;
}

#CONTENT{ width:760px; margin-left:auto; margin-right:auto;   }
h2{ margin: 0; padding: 24px 0 7px 40px; font-family: "trebuchet ms",arial,tahoma,verdana,sans-serif; font-weight: normal; letter-spacing: 0.005em; color: #444444; font-size: 15pt; }
#TEXT{ padding: 35px 40px 35px 40px; border-bottom: 1px solid #484848; border-top: 1px solid #484848; background-color: #FFFFFF; }
#TEXT p{	margin-bottom: 1em;}

#FOOTER{width:760px; margin-top:10px; margin-left:auto; margin-right:auto;  border-top: #444444;  text-align: center;  padding-top: 5px;   }
#FOOTER p{ font-size: 11px; line-height: 14px; margin: 0;  color: #444444; }
#FOOTER a{ font-size: 11px;	font-weight: normal;	text-decoration: none;  color: black;    }
#FOOTER a:hover{ color: gray; text-decoration: underline; }

.inhalt
{
 padding-left: 10px;
 display: block;
 font-size: 14px;
 width: 760px;
 margin-top: 30px;
 margin-bottom: 60px;
 /*border: solid 2px rgb(0,0,0);*/ 
}

.inhalt .inhaltNews
{
 font-size: 20px;
 font-weight: bold;
 display: block;
 background-color: transparent;

}

.inhalt .inhaltNews .inhaltNewsListe
{
 background-color: transparent;
 font-weight: normal;
 font-size: 14px;
}

.inhalt .inhaltNews .inhaltNewsListe .guestbook
{
 display: block;
/* border: solid 2px rgb(0,0,0); */
 padding: 3px;
 font-size: 12px;
 margin-top: 20px;
 background: rgb(255,255,255);
}

.inhalt .inhaltNews .inhaltNewsListe .guestbook .titleanddate
{
 display: block;
 border: solid 2px rgb(0,0,0);
 font-size: 12px;
 width: 500px;
 padding: 2px;
}

.inhalt .inhaltNews .inhaltNewsListe .guestbook .titleanddate .title
{
 background-color: transparent;
 font-size: 12px;
 font-weight: bold;
 float: left;
 width: 240px;
 /* border: solid 2px rgb(0,0,0); */
}

.inhalt .inhaltNews .inhaltNewsListe .guestbook .titleanddate .date
{
 background-color: transparent;
 font-size: 12px;
 font-weight: bold;
 text-align: right;;
 float: left;
 width: 240px;
 /* border: solid 2px rgb(0,0,0); */
}


.inhalt .inhaltNews .inhaltNewsListe .guestbook .guestbooktext
{
 background-color: transparent;
 font-size: 12px;
 text-align: left;
 margin-top: 3px;
 width: 500px;
 padding: 15px 3px 3px 3px;
 border: solid 2px rgb(0,0,0);
}




