{% extends 'pdf_templates/pdf_base.html' %}
{% load i18n %}

{% block customerdata %}

    <p class="customer-name">
        {{ customer }}
    </p>

    <div class="customer-address">
    {{ customer.get_quote_address.addressline1 }}
    {% if customer.get_quote_address.addressline2 %}{{ customer.get_quote_address.addressline2 }}{% endif %}
    <p>
    {% if customer.get_quote_address.country %}{{ customer.get_quote_address.country }}&nbsp;-&nbsp;{% endif %}{{ customer.get_quote_address.zipcode }}&nbsp;{{ customer.get_quote_address.city }}
    </p>
    </div>
    <div class="customer-contact">
    {% if customer.get_phone_address %}<p>{% trans 'Phone' %}:&nbsp;{{ customer.get_phone_address }}</p>{% endif %}
    {% if customer.get_email_address %}<p>{% trans 'Email' %}:&nbsp;<a href="mailto:{{ customer.get_email_address }}">{{ customer.get_email_address }}</a></p>{% endif %}
    </div>

{% endblock %}

{% block title %}
    <h2>{{ purchaseorder }}</h2>
    {% if purchaseorder.external_reference %}
        <h4>{% trans 'External reference' %}: {{ purchaseorder.external_reference }}</h4>
    {% endif %}
{% endblock %}

{% block header_text %}
    <p>
    {{ company_data.header_text_purchaseorders|safe }}
    </p>
{% endblock %}

{% block contentpositions_last_row %}
    <tr>
        <td colspan="4">{{ purchaseorder.contract.default_customer.billingcycle }}</td>
        <td style="text-align: right">{{ purchaseorder.get_price }}</td>
    </tr>
{% endblock %}

{% block footertext %}
    <p>
    {{ company_data.footer_text_purchaseorders|safe }}
    </p>
{% endblock %}