{% extends "shop/checkout.html" %}
{% load staticfiles i18n future mezzanine_tags bootstrap3 %}

{% block extra_head %}
{{ block.super }}
<script src="{% static "cartridge/js/shipping_fields.js" %}"></script>
{% endblock %}

{% block fields %}
{% if request.cart.has_items %}
{% if not request.user.is_authenticated %}
{% ifinstalled mezzanine.accounts %}
<p>
{% url "login" as login_url %}
{% url "signup" as signup_url %}
{% with request.path as next %}
{% blocktrans %}
If you have an existing account or would like to create one, please
<a href="{{ login_url }}?next={{ next }}">log in</a> or
<a href="{{ signup_url }}?next={{ next }}">sign up</a>.
{% endblocktrans %}
{% endwith %}
</p>
{% endifinstalled %}
{% endif %}

{% errors_for form %}

<fieldset>
    <legend>{% trans "Billing Details" %}</legend>
    {% for field in form.billing_detail_fields %}
        {% bootstrap_field field layout='horizontal' %}
    {% endfor %}
</fieldset>

<fieldset>
    <legend>{% trans "Delivery Details" %}</legend>
    {% for field in form.same_billing_shipping_field %}
        {% bootstrap_field field layout='horizontal' %}
    {% endfor %}
    <div id="shipping_fields">
    {% for field in form.shipping_detail_fields %}
        {% bootstrap_field field layout='horizontal' %}
    {% endfor %}
    </div>
    {% for field in form.additional_instructions_field %}
        {% bootstrap_field field layout='horizontal' %}
    {% endfor %}
    {% for field in form.remember_field %}
        {% bootstrap_field field layout='horizontal' %}
    {% endfor %}
</fieldset>

{% if not settings.SHOP_CHECKOUT_STEPS_SPLIT and settings.SHOP_PAYMENT_STEP_ENABLED %}
{% include "shop/includes/payment_fields.html" %}
{% endif %}

{% for field in form.other_fields %}
    {% bootstrap_field field layout='horizontal' %}
{% endfor %}

{% endif %}
{% endblock %}
