{% extends "base/table_view_base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block meta_title %}
    {% trans "Products" %}
{% endblock %}

{% block title %}
    {% trans "Products" %}
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Products" %}</li>
{% endblock %}

{% block main_header %}
    {% trans "Products" %}
{% endblock %}

{% block main_toolbar %}
    {% if perms.crm_core.add_product %}
        <button class="btn btn-success" onclick="location.href='{% url 'product_create' %}'"
                title="{% trans 'Create Product' %}" data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-plus"></span></button>
    {% endif %}
{% endblock %}

{% block main_inner %}
    {% render_table producttable "tables2/bootstrapped-tables2.html" %}
{% endblock %}