{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Contracts" %}{% endblock %}
{% block title %}{% trans "Contracts" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Contracts" %}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Contracts" %}</h4>
        {% if contract_list %}
        <table class="table table-striped table-advance">
            <tr><th>{% trans "Name" %}</th><th>{% trans "Description" %}</th><th>{% trans 'Customer' %}</th><th></th><th></th></tr>
            {% for contract in contract_list %}
                <tr>
                    <td><a href="{% url 'contract_detail' contract.pk %}">{{ contract }}</a></td>
                    <td>{{ contract.description|default_if_none:"" }}</td>
                    <td>{{ contract.default_customer|default_if_none:"" }}</td>
                    <td width="150px">
                        <p class="pull-right">
                        {% if perms.crm_core.add_quote %}
                            <button type="button" class="btn btn-sm btn-warning"
                                    onclick="window.location.assign('{% url 'contract_create_quote' contract.pk %}')"
                                    title="{% trans "Create Quote" %}"><i class="fa fa-calculator"></i></button>
                        {% endif %}
                        {% if perms.crm_core.add_purchaseorder %}
                            <button type="button" class="btn btn-sm btn-info"
                                    onclick="window.location.assign('{% url 'contract_create_purchaseorder' contract.pk %}')"
                                    title="{% trans "Create Purchase Order" %}"><i class="fa fa-shopping-cart"></i></button>
                        {% endif %}
                        {% if perms.crm_core.add_invoice %}
                            <button type="button" class="btn btn-sm btn-success"
                                    onclick="window.location.assign('{% url 'contract_create_invoice' contract.pk %}')"
                                    title="{% trans "Create Invoice" %}"><i class="fa fa-money"></i></button>
                        {% endif %}
                        </p>
                    </td>
                    <td width="100px">
                        <p class="pull-right">
                        {% if perms.crm_core.change_contract %}
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="window.location.assign('{% url 'contract_edit' contract.pk %}')"
                                    title="{% trans "Edit" %}"><i class="fa fa-pencil"></i></button>
                        {% endif %}
                        {% if perms.crm_core.delete_contract %}
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="window.location.assign('{% url 'contract_delete' contract.pk %}')"
                                    title="{% trans "Delete" %}"><i class="fa fa-trash"></i></button>
                        {% endif %}
                        </p>
                    </td>
                </tr>
            {% empty %}
                {% trans 'No contracts' %}
            {% endfor %}
        </table>
        {% endif %}
        {% if perms.crm_core.add_contract %}
        <p><a href="{% url 'contract_create' %}">{% trans "Create a new contract" %}</a></p>
        {% endif %}
    </div>
{% endblock %}