{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Billing Cycles" %}{% endblock %}
{% block title %}{% trans "Billing Cycles" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Billing Cycles" %}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Billing Cycles" %}</h4>
        {% if customerbillingcycle_list %}
        <table class="table table-striped table-advance">
            <tr><th>{% trans "Name" %}</th><th>{% trans "Days to Payment Date" %}</th><th></th></tr>
            {% for billingcycle in customerbillingcycle_list %}
                <tr>
                    <td>{{ billingcycle.name }}</td>
                    <td>{{ billingcycle.days_to_payment }}</td>
                    <td>
                        <p class="pull-right">
                        {% if perms.crm_core.change_customerbillingcycle %}
                        <button type="button" class="btn btn-sm btn-primary" onclick="window.location.assign('{% url 'customerbillingcycle_edit' billingcycle.pk %}')">{% trans "Edit" %}</button>
                        {% endif %}
                        {% if perms.crm_core.delete_customerbillingcycle %}
                        <button type="button" class="btn btn-sm btn-danger" onclick="window.location.assign('{% url 'customerbillingcycle_delete' billingcycle.pk %}')">{% trans "Delete" %}</button>
                        {% endif %}
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if perms.crm_core.add_customerbillingcycle %}
        <p><a href="{% url 'customerbillingcycle_create' %}">{% trans "Create a new billing cycle" %}</a></p>
        {% endif %}
    </div>
{% endblock %}

{% block rightbar_impex %}
    <h3>{% trans 'Import / Export' %}</h3>
    <p style="margin: 5px;">
        <a href="{% url 'customerbillingcycle_export' 'xls' %}">{% trans "Export as XLS" %}</a><br>
        <a href="{% url 'customerbillingcycle_export' 'xlsx' %}">{% trans "Export as XLSX" %}</a><br>
        <a href="{% url 'customerbillingcycle_export' 'csv' %}">{% trans "Export as CSV" %}</a><br>
        <a href="{% url 'customerbillingcycle_export' 'json' %}">{% trans "Export as JSON" %}</a>
    </p>
{% endblock %}