{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Invoices" %}{% endblock %}
{% block title %}{% trans "Invoices" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Invoices" %}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Invoices" %}</h4>
        <table class="table table-striped table-advance">
            <tr><th>{% trans 'Status' %}</th><th>{% trans 'Name' %}</th><th>{% trans "Description" %}</th><th>{% trans 'Contract' %}</th><th>{% trans 'Customer' %}</th><th>{% trans 'Payable Until' %}</th><th>{% trans 'Last Calculated Price' %}</th><th></th><th></th></tr>
            {% for invoice in invoice_list %}
                <tr>
                    <td><span class="label {{ invoice.get_state_class }}">{{ invoice.get_state }}</span></td>
                    <td>{{ invoice }}</td>
                    <td>{{ invoice.description|default_if_none:"" }}</td>
                    <td><a href="{% url 'contract_detail' invoice.contract.pk %}">
                        {{ invoice.contract|default_if_none:"" }}</a></td>
                    <td><a href="{% url 'customer_detail' invoice.customer.pk %}">
                        {{ invoice.customer|default_if_none:"" }}</a></td>
                    <td>{{ invoice.payableuntil|default_if_none:"" }}</td>
                    <td>{{ invoice.last_calculated_price|default_if_none:"" }}</td>
                    <td width="150px">
{#                    TODO view buttons depending on contract state#}
                        <p class="pull-right">
{#                        {% if perms.crm_core.add_quote %}#}
                            <button type="button" class="btn btn-sm btn-default"
                                    onclick="window.location.assign('{% url 'invoice_create_pdf' invoice.pk %}')"
                                    title="{% trans "Create PDF" %}"><i class="fa fa-file-pdf-o"></i></button>
{#                        {% endif %}#}
                        </p>
                    </td>
                    <td width="100px">
                        <p class="pull-right">
                        {% if perms.crm_core.change_invoice %}
                        <button type="button" class="btn btn-sm btn-primary"
                                    onclick="window.location.assign('{% url 'invoice_edit' invoice.pk %}')"
                                    title="{% trans "Edit" %}"><i class="fa fa-pencil"></i></button>
                        {% endif %}
                        {% if perms.crm_core.delete_invoice %}
                        <button type="button" class="btn btn-sm btn-danger"
                                    onclick="window.location.assign('{% url 'invoice_delete' invoice.pk %}')"
                                    title="{% trans "Delete" %}"><i class="fa fa-trash"></i></button>
                        {% endif %}
                        </p>
                    </td>
                </tr>
            {% empty %}
                {% trans 'No invoices' %}
            {% endfor %}
        </table>
        {% if perms.crm_core.add_invoice %}
        <p><a href="{% url 'invoice_create' %}">{% trans "Create a new invoice" %}</a></p>
        {% endif %}
    </div>
{% endblock %}