{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block meta_title %}{% trans "Invoice" %}{% endblock %}
{% block title %}{% trans "Invoice" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active"><a href="{% url 'invoice_list' %}">{% trans "Invoice" %}</a></li>
    <li class="active">{% trans "Delete invoice" %}</li>
{% endblock %}

{% block rightbar %}
{% endblock %}

{% block main %}
    <div class="form-panel" style="margin: 30px">
    <h4 class="mb"><i class="fa fa-angle-right"></i>
        {% trans "Delete invoice" %}</h4>
    <form action = ""  method = "post">
        {% csrf_token %}

        <h3 class = ''>
            {% trans "Are you you sure you want to delete the following item?" %}<br>{{object}}
        </h3>

        <button type='submit' class='btn btn-danger'>
            {% trans "Delete" %}
        </button>

        <button type="button" class="btn btn-default"
                onclick="window.location.assign('{% url 'invoice_list' %}')">
            {% trans "Cancel" %}
        </button>
    </form>
    </div>
{% endblock %}