{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Products" %}{% endblock %}
{% block title %}{% trans "Products" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Products" %}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Products" %}</h4>
        {% if product_list %}
        <table class="table table-striped table-advance">
            <tr><th>{% trans "Number" %}</th><th>{% trans "Title" %}</th><th>{% trans "Unit" %}</th><th>{% trans "Tax" %}</th><th>{% trans "Product Category" %}</th><th></th></tr>
            {% for product in product_list %}
                <tr>
                    <td>{{ product.product_number }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.defaultunit }}</td>
                    <td>{{ product.tax }}</td>
                    <td>{{ product.accoutingProductCategorie }}</td>
                    <td>
                        <p class="pull-right">
                        {% if perms.crm_core.change_product %}
                        <button type="button" class="btn btn-sm btn-primary" onclick="window.location.assign('{% url 'product_edit' product.pk %}')">{% trans "Edit" %}</button>
                        {% endif %}
                        {% if perms.crm_core.delete_product %}
                        <button type="button" class="btn btn-sm btn-danger" onclick="window.location.assign('{% url 'product_delete' product.pk %}')">{% trans "Delete" %}</button>
                        {% endif %}
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if perms.crm_core.add_product %}
        <p><a href="{% url 'product_create' %}">{% trans "Create a new product" %}</a></p>
        {% endif %}
    </div>
{% endblock %}