{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Purchase Order" %}{% endblock %}
{% block title %}{% trans "Purchase Order" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Purchase Order" %}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Purchase Order" %}</h4>
        {% if purchaseorder_list %}
        <table class="table table-striped table-advance">
            <tr><th></th><th></th><th></th><th></th><th></th></tr>
            {% for purchaseorder in purchaseorder_list %}
                <tr>
                    <td>{{ purchaseorder.contract }}</td>
                    <td>{{ purchaseorder.description }}</td>
                    <td>{{ purchaseorder.status }}</td>
                    <td>
                        <p class="pull-right">
                        {% if perms.crm_core.change_purchaseorder %}
                        <button type="button" class="btn btn-sm btn-primary" onclick="window.location.assign('{% url 'purchaseorder_edit' purchaseorder.pk %}')">{% trans "Edit" %}</button>
                        {% endif %}
                        {% if perms.crm_core.delete_purchaseorder %}
                        <button type="button" class="btn btn-sm btn-danger" onclick="window.location.assign('{% url 'purchaseorder_delete' purchaseorder.pk %}')">{% trans "Delete" %}</button>
                        {% endif %}
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if perms.crm_core.add_purchaseorder %}
        <p><a href="{% url 'purchaseorder_create' %}">{% trans "Create a new purchaseorder" %}</a></p>
        {% endif %}
    </div>
{% endblock %}