{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Purchase Orders" %}{% endblock %}
{% block title %}{% trans "Purchase Orders" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Purchase Orders" %}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Purchase Orders" %}</h4>
        <table class="table table-striped table-advance">
            <tr><th>{% trans 'Status' %}</th><th>{% trans 'Name' %}</th><th>{% trans "Description" %}</th><th>{% trans 'Contract' %}</th><th>{% trans 'Customer' %}</th><th>{% trans 'Valid Until' %}</th><th>{% trans 'Last Calculated Price' %}</th><th></th><th></th></tr>
            {% for purchaseorder in purchaseorder_list %}
                <tr>
                    <td><span class="label {{ purchaseorder.get_state_class }}">{{ purchaseorder.get_state }}</span></td>
                    <td>{{ purchaseorder }}</td>
                    <td>{{ purchaseorder.description|default_if_none:"" }}</td>
                    <td><a href="{% url 'contract_detail' purchaseorder.contract.pk %}">
                        {{ purchaseorder.contract|default_if_none:"" }}</a></td>
                    <td><a href="{% url 'customer_detail' purchaseorder.contract.default_customer.pk %}">
                        {{ purchaseorder.contract.default_customer|default_if_none:"" }}</a></td>
                    <td>{{ purchaseorder.validuntil|default_if_none:"" }}</td>
                    <td>{{ purchaseorder.last_calculated_price|default_if_none:"" }}</td>
                    <td width="50px">
{#                    TODO view buttons depending on contract state#}
                        <p class="pull-right">
                            <button type="button" class="btn btn-sm btn-default"
                                    onclick="window.location.assign('{% url 'purchaseorder_create_pdf' purchaseorder.pk %}')"
                                    title="{% trans "Create PDF" %}"><i class="fa fa-file-pdf-o"></i></button>
                        </p>
                    </td>
                    <td width="100px">
                        <p class="pull-right">
                        {% if perms.crm_core.change_purchaseorder %}
                        <button type="button" class="btn btn-sm btn-primary"
                                    onclick="window.location.assign('{% url 'purchaseorder_edit' purchaseorder.pk %}')"
                                    title="{% trans "Edit" %}"><i class="fa fa-pencil"></i></button>
                        {% endif %}
                        {% if perms.crm_core.delete_purchaseorder %}
                        <button type="button" class="btn btn-sm btn-danger"
                                    onclick="window.location.assign('{% url 'purchaseorder_delete' purchaseorder.pk %}')"
                                    title="{% trans "Delete" %}"><i class="fa fa-trash"></i></button>
                        {% endif %}
                        </p>
                    </td>
                </tr>
            {% empty %}
                {% trans 'No puchase orders' %}
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block rightbar_impex %}
    <h3>{% trans 'Import / Export' %}</h3>
    <p style="margin: 5px;">
        <a href="{% url 'purchaseorder_export' 'xls' %}">{% trans "Export as XLS" %}</a><br>
        <a href="{% url 'purchaseorder_export' 'xlsx' %}">{% trans "Export as XLSX" %}</a><br>
        <a href="{% url 'purchaseorder_export' 'csv' %}">{% trans "Export as CSV" %}</a><br>
        <a href="{% url 'purchaseorder_export' 'json' %}">{% trans "Export as JSON" %}</a>
    </p>
{% endblock %}