{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Quotes" %}{% endblock %}
{% block title %}{% trans "Quotes" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Quotes" %}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Quotes" %}</h4>
        {% if quote_list %}
        <table class="table table-striped table-advance">
            <tr><th>{% trans "Description" %}</th><th></th><th></th></tr>
            {% for quote in quote_list %}
                <tr>
                    <td>{{ quote.description }}</td>
                    <td>
                        <p class="pull-right">
                        {% if perms.crm_core.change_quote %}
                        <button type="button" class="btn btn-sm btn-primary" onclick="window.location.assign('{% url 'quote_edit' quote.pk %}')">{% trans "Edit" %}</button>
                        {% endif %}
                        {% if perms.crm_core.delete_quote %}
                        <button type="button" class="btn btn-sm btn-danger" onclick="window.location.assign('{% url 'quote_delete' quote.pk %}')">{% trans "Delete" %}</button>
                        {% endif %}
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if perms.crm_core.add_quote %}
        <p><a href="{% url 'quote_create' %}">{% trans "Create a new quote" %}</a></p>
        {% endif %}
    </div>
{% endblock %}