{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Quotes" %}{% endblock %}
{% block title %}{% trans "Quotes" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Quotes" %}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Quotes" %}</h4>
        <table class="table table-striped table-advance">
            <tr><th>{% trans 'Status' %}</th><th>{% trans 'Name' %}</th><th>{% trans "Description" %}</th><th>{% trans 'Contract' %}</th><th>{% trans 'Customer' %}</th><th>{% trans 'Valid Until' %}</th><th>{% trans 'Last Calculated Price' %}</th><th></th><th></th></tr>
            {% for quote in quote_list %}
                <tr>
                    <td><span class="label {{ quote.get_state_class }}">{{ quote.get_state }}</span></td>
                    <td><a href="{% url 'quote_edit' quote.pk %}">{{ quote }}</a></td>
                    <td>{{ quote.description|default_if_none:"" }}</td>
                    <td><a href="{% url 'contract_detail' quote.contract.pk %}">
                        {{ quote.contract|default_if_none:"" }}</a></td>
                    <td><a href="{% url 'customer_detail' quote.customer.pk %}">
                        {{ quote.customer|default_if_none:"" }}</a></td>
                    <td>{{ quote.validuntil|default_if_none:"" }}</td>
                    <td>{{ quote.last_calculated_price|default_if_none:"" }}</td>
                    <td width="150px">
{#                    TODO view buttons depending on contract state#}
                        <p class="pull-right">
                        {% if perms.crm_core.add_invoice %}
                            <button type="button" class="btn btn-sm btn-success"
                                    onclick="window.location.assign('{% url 'quote_create_invoice' quote.pk %}')"
                                    title="{% trans "Create Invoice" %}"><i class="fa fa-money"></i></button>
                        {% endif %}
                        {% if perms.crm_core.add_purchaseorder %}
                            <button type="button" class="btn btn-sm btn-info"
                                    onclick="window.location.assign('{% url 'quote_create_purchaseorder' quote.pk %}')"
                                    title="{% trans "Create Purchaseorder" %}"><i class="fa fa-shopping-cart"></i></button>
                        {% endif %}
{#                        {% if perms.crm_core.add_quote %}#}
                            <button type="button" class="btn btn-sm btn-default"
                                    onclick="window.location.assign('{% url 'quote_create_pdf' quote.pk %}')"
                                    title="{% trans "Create PDF" %}"><i class="fa fa-file-pdf-o"></i></button>
{#                        {% endif %}#}
                        </p>
                    </td>
                    <td width="100px">
                        <p class="pull-right">
                        {% if perms.crm_core.change_quote %}
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="window.location.assign('{% url 'quote_edit' quote.pk %}')"
                                    title="{% trans "Edit" %}"><i class="fa fa-pencil"></i></button>
                        {% endif %}
                        {% if perms.crm_core.delete_quote %}
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="window.location.assign('{% url 'quote_delete' quote.pk %}')"
                                    title="{% trans "Delete" %}"><i class="fa fa-trash"></i></button>
                        {% endif %}
                        </p>
                    </td>
                </tr>
            {% empty %}
                {% trans 'No quotes' %}
            {% endfor %}
        </table>
    </div>
{% endblock %}