{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Suppliers" %}{% endblock %}
{% block title %}{% trans "Suppliers" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Suppliers" %}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Suppliers" %}</h4>
        <table class="table table-striped table-advance">
            <tr><th>{% trans "Name" %}</th><th>{% trans 'Postal Address' %}</th>
                <th>{% trans 'Phone Number' %}</th><th>{% trans 'Email Address' %}</th><th></th></tr>
            {% for supplier in supplier_list %}
                <tr>
                    <td><a href="{% url 'supplier_detail' supplier.pk %}">{{ supplier }}</a></td>
                    <td>
                        {{ supplier.addresses.all|join:"<br>"|default:"-" }}
                    </td>
                    <td>
                        {{ supplier.phonenumbers.all|join:"<br>"|default:"-" }}
                    </td>
                    <td>
                        {{ supplier.emailaddresses.all|join:"<br>"|default:"-" }}
                    </td>
                    <td width="100px">
                        <p class="pull-right">
                        {% if perms.crm_core.change_supplier %}
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="window.location.assign('{% url 'supplier_edit' supplier.pk %}')"
                                    title="{% trans "Edit" %}"><i class="fa fa-pencil"></i></button>
                        {% endif %}
                        {% if perms.crm_core.delete_supplier %}
                            <button type="button" class="btn btn-sm btn-danger"
                                    onclick="window.location.assign('{% url 'supplier_delete' supplier.pk %}')"
                                    title="{% trans "Delete" %}"><i class="fa fa-trash"></i></button>
                        {% endif %}
                        </p>
                    </td>
                </tr>
            {% empty %}
                {% trans 'No suppliers' %}
            {% endfor %}
        </table>
        {% if perms.crm_core.add_supplier %}
        <p><a href="{% url 'supplier_create' %}">{% trans "Create a new supplier" %}</a></p>
        {% endif %}
    </div>
{% endblock %}

{% block rightbar_impex %}
    <h3>{% trans 'Import / Export' %}</h3>
    <p style="margin: 5px;">
        <a href="{% url 'supplier_export' 'xls' %}">{% trans "Export as XLS" %}</a><br>
        <a href="{% url 'supplier_export' 'xlsx' %}">{% trans "Export as XLSX" %}</a><br>
        <a href="{% url 'supplier_export' 'csv' %}">{% trans "Export as CSV" %}</a><br>
        <a href="{% url 'supplier_export' 'json' %}">{% trans "Export as JSON" %}</a>
    </p>
{% endblock %}
