{% load i18n future pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

    {% for page in page_branch %}
        {% if page.in_menu %}
            {% if not page.parent %}
                <li id="{{ page.html_id }}" class="sub-menu">
                    <a href="{{ page.get_absolute_url }}" class="{% if page.is_current_or_ascendant %}active{% endif %}">
                        {% if page.icon %}
                            <i class="fa {{ page.icon }}"></i>
                        {% else %}
                            <i class="fa fa-chevron-right"></i>
                        {% endif %}
                        {{ page.title }}</a>
            {% else %}
                <li id="{{ page.html_id }}" class="{% if page.is_current_or_ascendant %}active{% endif %}">
                    <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
            {% endif %}
            {% if page.has_children_in_menu %}
                    <ul class="sub" style="display: block;">
                        {% page_menu page %}
                    </ul>
            {% endif %}
                </li>
        {% endif %}
    {% endfor %}

{% endif %}
{% endspaceless %}
