{% extends "base/base.html" %}
{% load i18n mezzanine_tags staticfiles %}
{% load render_table from django_tables2 %}

{% block meta_title %}
    {% trans "Settings" %}
{% endblock %}

{% block title %}
    {% trans "Settings" %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Settings" %}</li>
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-tables2.css' %}" />
{% endblock %}

{% block extra_css %}
    <style type="text/css">
    .panel-body {
        padding: 0;
    }
    </style>
{% endblock %}

{% block main %}
    <div class="panel panel-default" style="margin: 10px">
        <div class="panel-heading">
        <table>
            <tbody>
                <tr>
                    <td width="300px">
                    <h4>&nbsp;
                        <i class="fa fa-angle-right"></i>
                        {% trans 'Tax Rates' %}</h4>
                    <td>
                    {% if perms.crm_core.add_taxrate %}
                        <button class="btn btn-success" onclick="location.href='{% url 'tax_create' %}'"
                                title="{% trans 'Create Taxrate' %}" data-toggle="tooltip" data-placement="top">
                            <span class="glyphicon glyphicon-plus"></span></button>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="panel-body">
            {% render_table taxtable "tables2/bootstrapped-tables2.html" %}
        </div>
    </div>
    <div class="panel panel-default" style="margin: 10px">
        <div class="panel-heading">
        <table>
            <tbody>
                <tr>
                    <td width="300px">
                    <h4>&nbsp;
                        <i class="fa fa-angle-right"></i>
                        {% trans 'Billing Cycles' %}</h4>
                    <td>
                    {% if perms.crm_core.add_customerbillingcycle %}
                        <button class="btn btn-success" onclick="location.href='{% url 'customerbillingcycle_create' %}'"
                                title="{% trans 'Create Billing Cycle' %}" data-toggle="tooltip" data-placement="top">
                            <span class="glyphicon glyphicon-plus"></span></button>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="panel-body">
            {% render_table billingcycletable "tables2/bootstrapped-tables2.html" %}
        </div>
    </div>
    <div class="panel panel-default" style="margin: 10px">
        <div class="panel-heading">
        <table>
            <tbody>
                <tr>
                    <td width="300px">
                    <h4>&nbsp;
                        <i class="fa fa-angle-right"></i>
                        {% trans 'Units' %}</h4>
                    <td>
                    {% if perms.crm_core.add_unit %}
                        <button class="btn btn-success" onclick="location.href='{% url 'unit_create' %}'"
                                title="{% trans 'Create Unit' %}" data-toggle="tooltip" data-placement="top">
                            <span class="glyphicon glyphicon-plus"></span></button>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="panel-body">
            {% render_table unittable "tables2/bootstrapped-tables2.html" %}
        </div>
    </div>
    <div class="panel panel-default" style="margin: 10px">
        <div class="panel-heading">
        <table>
            <tbody>
                <tr>
                    <td width="300px">
                    <h4>&nbsp;
                        <i class="fa fa-angle-right"></i>
                        {% trans 'Product Categories' %}</h4>
                    <td>
                    {% if perms.crm_core.add_productcategory %}
                        <button class="btn btn-success" onclick="location.href='{% url 'productcategory_create' %}'"
                                title="{% trans 'Create Product Category' %}" data-toggle="tooltip" data-placement="top">
                            <span class="glyphicon glyphicon-plus"></span></button>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="panel-body">
{#            {% render_table productcategorytable "tables2/bootstrapped-tables2.html" %}#}
        </div>
    </div>
    <div class="panel panel-default" style="margin: 10px">
        <div class="panel-heading">
        <table>
            <tbody>
                <tr>
                    <td width="300px">
                    <h4>&nbsp;
                        <i class="fa fa-angle-right"></i>
                        {% trans 'Customer Groups' %}</h4>
                    <td>
                    {% if perms.crm_core.add_customergroup %}
                        <button class="btn btn-success" onclick="location.href='{% url 'customergroup_create' %}'"
                                title="{% trans 'Create Customer Group' %}" data-toggle="tooltip" data-placement="top">
                            <span class="glyphicon glyphicon-plus"></span></button>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="panel-body">
            {% render_table customergrouptable "tables2/bootstrapped-tables2.html" %}
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
{% endblock %}