{% extends 'pdf_templates/pdf_base.html' %}
{% load i18n %}

{% block title %}
    <h2>{{ invoice }}</h2>
    <h3>{% trans 'Payable until' %}:&nbsp;{{ invoice.payableuntil }}</h3>
{% endblock %}

{% block customername %}
    {{ invoice.customer|linebreaks }}
{% endblock %}

{% block customeraddress %}
    {% with address=invoice.customer.get_quote_address %}
    {{ address.addressline1|linebreaks }}
    {{ address.addressline2|linebreaks }}
    {{ address.zipcode }}&nbsp;{{ address.city }}
    {% endwith %}
{% endblock %}

{% block customerphone %}
    {% with address=invoice.customer.get_phone_address %}
        <b>{% trans 'Phone' %}&nbsp;({{ address.get_purpose }}):</b>&nbsp;{{ address.phone }}
    {% endwith %}
{% endblock %}

{% block customeremail %}
    {% with address=invoice.customer.get_email_address %}
        <b>{% trans 'Email' %}&nbsp;({{ address.get_purpose }}):</b>&nbsp;{{ address.email }}
    {% endwith %}
{% endblock %}

{% block contentpositions %}
    <h2>{% trans 'Positions' %}</h2>
    <table class="table table-bordered">
    <thead>
    <tr>
        <td width="80px">#</td>
        <td>{% trans 'Product' %}</td>
        <td width="160px">{% trans 'Quantity' %}</td>
        <td style="text-align: right">{% trans 'Price' %}</td>
    </tr>
    </thead>
    <tbody>
    {% for position in invoice.positions.all %}
        <tr>
        <td>{{ position.position_number }}</td>
        <td>{{ position.product }}</td>
        <td style="text-align: center">{{ position.quantity }} {{ position.unit }}</td>
        <td style="text-align: right">{{ position.product.get_price }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}