{% extends 'pdf_templates/pdf_base.html' %}
{% load i18n %}

{% block title %}
    <h2>{{ purchaseorder }}</h2>
{% endblock %}

{% block customername %}
    {{ purchaseorder.customer|linebreaks }}
{% endblock %}

{% block customeraddress %}
    {% with address=purchaseorder.customer.get_quote_address %}
    {{ address.addressline1|linebreaks }}
    {{ address.addressline2|linebreaks }}
    {{ address.zipcode }}&nbsp;{{ address.city }}
    {% endwith %}
{% endblock %}

{% block customerphone %}
    {% with address=purchaseorder.customer.get_phone_address %}
        <b>{% trans 'Phone' %}&nbsp;({{ address.get_purpose }}):</b>&nbsp;{{ address.phone }}
    {% endwith %}
{% endblock %}

{% block customeremail %}
    {% with address=purchaseorder.customer.get_email_address %}
        <b>{% trans 'Email' %}&nbsp;({{ address.get_purpose }}):</b>&nbsp;{{ address.email }}
    {% endwith %}
{% endblock %}