{% extends '/pdf_base.html' %}
{% load i18n %}

{% block title %}
    <h2>{{ purchaseorder }}</h2>
    {% if purchaseorder.external_reference %}
        <h4>{% trans 'External reference' %}: {{ purchaseorder.external_reference }}</h4>
    {% endif %}
{% endblock %}

{% block customername %}
    {{ purchaseorder.customer|linebreaks }}
{% endblock %}

{% block customeraddress %}
    {% with address=purchaseorder.customer.get_quote_address %}
    {{ address.addressline1|linebreaks }}
    {{ address.addressline2|linebreaks }}
    {{ address.zipcode }}&nbsp;{{ address.city }}
    {% endwith %}
{% endblock %}

{% block customerphone %}
    {% with address=purchaseorder.customer.get_phone_address %}
        <b>{% trans 'Phone' %}&nbsp;({{ address.get_purpose }}):</b>&nbsp;{{ address.phone }}
    {% endwith %}
{% endblock %}

{% block customeremail %}
    {% with address=purchaseorder.customer.get_email_address %}
        <b>{% trans 'Email' %}&nbsp;({{ address.get_purpose }}):</b>&nbsp;{{ address.email }}
    {% endwith %}
{% endblock %}

{% block contentpositions %}
    <h2>{% trans 'Positions' %}</h2>
    <table width="800px">
    <thead>
    <tr>
        <td width="80px">#</td>
        <td width="400px">{% trans 'Product' %}</td>
        <td width="180px">{% trans 'Quantity' %}</td>
        <td style="text-align: right">{% trans 'Price' %}</td>
        <td style="text-align: right">{% trans 'Total' %}</td>
    </tr>
    </thead>
    <tbody>
    {% for position in positions %}
    <tr>
        <td>{{ position.sku }}</td>
        <td>{{ position.product }}</td>
        <td style="text-align: center">{{ position.quantity }} {{ position.product.item_unit.unit }}</td>
        <td style="text-align: right">{{ position.unit_price }} {{ purchaseorder.contract.default_currency }}</td>
        <td style="text-align: right">{{ position.total_price }} {{ purchaseorder.contract.default_currency }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5"><hr></td>
    </tr>
    <tr>
        <td colspan="4">{{ purchaseorder.contract.default_customer.billingcycle }}</td>
        <td style="text-align: right">{{ purchaseorder.get_price }}</td>
    </tr>
    </tbody>
    </table>
{% endblock %}