<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
{% load bootstrap3 %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static "assets/css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "assets/font-awesome/css/font-awesome.css" %}">
<link rel="stylesheet" href="{% static "assets/lineicons/style.css" %}">
<link rel="stylesheet" href="{% static "assets/js/gritter/css/jquery.gritter.css" %}">
<link rel="stylesheet" href="{% static "assets/css/zabuto_calendar.css" %}">
<link rel="stylesheet" href="{% static "assets/css/style.css" %}">
<link rel="stylesheet" href="{% static "assets/css/style-responsive.css" %}">

{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "assets/js/chart-master/Chart.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<section id="container" >

      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <p style="float: left;margin-top: -8px;">
                <a href="/" class="logo" style="float: left"><b>Koalix CRM</b></a>
                <br><span style="float: left" class="muted small">Beautiful CRM/ERP for small business</span>
            </p>
            <!--logo end-->

            <div class="nav notify-row" id="top_menu">


                {% if request.user.is_authenticated %}
                    <!--  notification start -->
                    <ul class="nav top-menu">
                    </ul>
                    <!--  notification end -->
                {% endif %}

            </div>
            {% if request.user.is_authenticated %}
            <div class="top-menu nav pull-right" style="margin-top: 12px;">
                {% search_form "all" %}
            </div>
            {% endif %}
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  {% if request.user.is_authenticated %}

              	    <p class="centered">
                        {% if request.user.image %}
                        <img src="{{ request.user.image }}" class="img-thumbnail" width="60" height="60">
                            {% else %}
                        <img src="{% static 'assets/img/avatar.jpg' %}" class="img-thumbnail" width="60" height="60">
                        {% endif %}
                        <h5 class="centered">
                            <a href="{% url "profile_update" request.user.pk %}">
                                {{ request.user }}
                            </a>
                        </h5>
                    </p>
                    <li><a href="/admin/"><i class="fa fa-gears"></i>Administration</a></li>
                    <li><a href="/admin/logout/"><i class="fa fa-sign-out"></i>Logout</a></li>

                  {% else %}

                      <li><a href="/login/"><i class="fa fa-sign-in"></i>Login</a></li>

                  {% endif %}

                  {% if user.is_authenticated %}

                      <li class="mt">
                          <a href="/dashboard/">
                              <i class="fa fa-dashboard"></i>
                              <span>Dashboard</span>
                          </a>
                      </li>

                      {% if perms.crm_core.view_customer %}
                      <li class="sub-menu">
                          <a href="/customers/">
                              <i class="fa fa-users"></i>
                              <span>{% trans "Customers" %}</span>
                          </a>
                      </li>
                      {% endif %}

                      {% if perms.crm_core.view_supplier %}
                      <li class="sub-menu">
                          <a href="/suppliers/">
                              <i class="fa fa-truck"></i>
                              <span>{% trans "Suppliers" %}</span>
                          </a>
                      </li>
                      {% endif %}

                      {% if perms.crm_core.view_products %}
                      <li class="sub-menu">
                          <a href="/products/">
                              <i class="fa fa-book"></i>
                              <span>{% trans "Products" %}</span>
                          </a>
                      </li>
                      {% endif %}

                      {% if perms.crm_core.view_contract or perms.crm_core.view_quote or perms.crm_core.view_purchaseorder or perms.crm_core.view_invoice %}
                      <li class="sub-menu">
                          <a href="javascript:;" >
                              <i class="fa fa-star"></i>
                              <span>{% trans "Order Management" %}</span>
                          </a>
                          <ul class="sub">
                              {% if perms.crm_core.view_contract %}
                                <li><a href="/contracts/">{% trans "Contracts" %}</a></li>
                              {% endif %}
                              {% if perms.crm_core.view_quote %}
                                <li><a href="/quotes/">{% trans "Quotes" %}</a></li>
                              {% endif %}
                              {% if perms.crm_core.view_purchaseorder %}
                                <li><a href="/purchaseorders/">{% trans "Purchase Orders" %}</a></li>
                              {% endif %}
                              {% if perms.crm_core.view_invoice %}
                                <li><a href="/invoices/">{% trans "Invoices" %}</a></li>
                              {% endif %}
                          </ul>
                      </li>
                      {% endif %}

                    {% if perms.crm_core.view_customergroup or perms.crm_core.view_billingcycle or perms.crm_core.view_tax or perms.crm_core.view_unit %}
                      <li class="sub-menu">
                          <a href="javascript:;" >
                              <i class="fa fa-wrench"></i>
                              <span>{% trans "Settings" %}</span>
                          </a>
                          <ul class="sub">
                              {% if perms.crm_core.view_customergroup %}
                                <li><a href="/customergroups/">{% trans "Customer Groups" %}</a></li>
                              {% endif %}
                              {% if perms.crm_core.view_billingcycle %}
                                <li><a href="/billingcycles/">{% trans "Billing Cycles" %}</a></li>
                              {% endif %}
                              {% if perms.crm_core.view_tax %}
                                <li><a href="/taxes/">{% trans "Tax Rates" %}</a></li>
                              {% endif %}
                              {% if perms.crm_core.view_unit %}
                                <li><a href="/units/">{% trans "Units" %}</a></li>
                              {% endif %}
                          </ul>
                      </li>
                    {% endif %}

                  {% endif %}

                  {% page_menu "pages/menus/sidebar.html" %}

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

            <div class="row">
                <div class="col-lg-10 main-chart">
                    <div class="row mt">
                        <div style="margin-top: 10px;">
                            <ul class="breadcrumb" style="background-color: white;">
                            {% spaceless %}
                                <li id="breadcrumb-menu-home"><a href="/">CRM</a></li>
                            {% block breadcrumb_menu %}
                                {% page_menu "pages/menus/breadcrumb.html" %}
                            {% endblock %}
                            {% endspaceless %}
                            </ul>
                        </div>
                    </div>
                    {% nevercache %}
                    {% bootstrap_messages %}
                    {% if messages %}
                    <div class="row mt">
                        <div class="messages">
                        {% for message in messages %}
                            <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endnevercache %}
                    <div class="row mt">
                        {% block main %}{% endblock %}
                    </div>
                </div>


              <!-- **********************************************************************************************************************************************************
              RIGHT SIDEBAR CONTENT
              *********************************************************************************************************************************************************** -->
                  <div class="col-lg-2 ds">
                  {% block rightbar %}
                      {% if request.user.is_authenticated %}
                      <div class="row mt">

                          {% block rightbar_filters %}
{#						    <h3>{% trans 'Filters' %}</h3>#}
                          {% endblock %}

                          {% block rightbar_actions %}
                          {% endblock %}

                          {% block right_calendar %}
                            <!-- CALENDAR-->
                            <div id="calendar" class="mb">
                                <div class="panel green-panel no-margin">
                                    <div class="panel-body">
                                        <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                            <div class="arrow"></div>
                                            <h3 class="popover-title" style="disadding: none;"></h3>
                                            <div id="date-popover-content" class="popover-content"></div>
                                        </div>
                                        <div id="my-calendar"></div>
                                    </div>
                                </div>
                            </div><!-- / calendar -->
                          {% endblock %}

                        </div>
                      {% endif %}
                  {% endblock %}
                </div>
            </div>
          </section>
      </section>


      <div style="margin-bottom: 0">
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
                {% trans "Powered by" %}
                <a href="http://mezzanine.jupo.org">Mezzanine</a>
                {% trans "and" %}
                <a href="http://www.djangoproject.com">Django</a>
                <span class="separator">|</span>
                {% trans "Theme based on" %} <a target="_blank" href="http://www.blacktie.co/2014/07/dashgum-free-dashboard/">DashGum</a>
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
      </div>

</section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{%  static "assets/js/jquery.js" %}"></script>
    <script src="{%  static "assets/js/jquery-1.8.3.min.js" %}"></script>
    <script src="{%  static "assets/js/bootstrap.min.js" %}"></script>
    <script class="include" type="text/javascript" src="{%  static "assets/js/jquery.dcjqaccordion.2.7.js" %}"></script>
    <script src="{%  static "assets/js/jquery.scrollTo.min.js" %}"></script>
    <script src="{%  static "assets/js/jquery.nicescroll.js" %}"type="text/javascript"></script>
    <script src="{%  static "assets/js/jquery.sparkline.js" %}"></script>
    {% bootstrap_javascript %}


    <!--common script for all pages-->
    <script src="{%  static "assets/js/common-scripts.js" %}"></script>

    <script type="text/javascript" src="{%  static "assets/js/gritter/js/jquery.gritter.js" %}"></script>
    <script type="text/javascript" src="{%  static "assets/js/gritter-conf.js" %}"></script>

    <!--script for this page-->
    <script src="{%  static "assets/js/sparkline-chart.js" %}"></script>
	<script src="{%  static "assets/js/zabuto_calendar.js" %}"></script>

	<script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "/show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event" }
                ]
            });
        });

{#        TODO #}
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>
{#{% include "includes/footer_scripts.html" %}#}

</body>
</html>
