<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}
{% load bootstrap3 %}

{% bootstrap_messages %}
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
{% bootstrap_css %}
{#<link rel="stylesheet" href="{% static "assets/css/bootstrap.css" %}">#}
<link rel="stylesheet" href="{% static "assets/font-awesome/css/font-awesome.css" %}">
<link rel="stylesheet" href="{% static "assets/lineicons/style.css" %}">
{#<link rel="stylesheet" href="{% static "assets/js/gritter/css/jquery.gritter.css" %}">#}
{#<link rel="stylesheet" href="{% static "assets/css/zabuto_calendar.css" %}">#}
<link rel="stylesheet" href="{% static "assets/css/style.css" %}">
<link rel="stylesheet" href="{% static "assets/css/style-responsive.css" %}">

{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "assets/js/chart-master/Chart.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<section id="container" >

      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="/" class="logo"><b>Koalix CRM</b></a>
{#            {% if settings.SITE_TAGLINE %}{{ settings.SITE_TAGLINE }}{% endif %}#}
            <!--logo end-->

            <div class="nav notify-row" id="top_menu">

                <!--  notification start -->
                <ul class="nav top-menu">

                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">1</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 1 pending task</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Koalix Task Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->

                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">1</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 1 new message</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->

                </ul>
                <!--  notification end -->

            </div>
            <div class="top-menu nav pull-right" style="margin-top: 12px;">
                {% search_form "all" %}
            </div>
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  {% if request.user.is_authenticated %}

              	    <p class="centered">
                        {% url "profile" request.user.username as profile_url %}
                        <img src="{% static 'assets/img/avatar.jpg' %}" class="img-thumbnail" width="60">
                        <h5 class="centered"><a href="{% url "profile_update" %}">{{ request.user|username_or:"email" }}</a></h5>
                    </p>
                    <li><a href="/admin/"><i class="fa fa-gears"></i>Administration</a></li>
                    <li><a href="/admin/logout/"><i class="fa fa-sign-out"></i>Logout</a></li>

                  {% else %}

                      <li><a href="/login/"><i class="fa fa-sign-in"></i>Login</a></li>

                  {% endif %}

                  <li class="mt">
                      <a href="/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/customers/">
                          <i class="fa fa-users"></i>
                          <span>{% trans "Customers" %}</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/suppliers/">
                          <i class="fa fa-truck"></i>
                          <span>{% trans "Suppliers" %}</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-wrench"></i>
                          <span>{% trans "Settings" %}</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/currencies/">{% trans "Currencies" %}</a></li>
                          <li><a  href="/taxes/">{% trans "Tax Rates" %}</a></li>
                          <li><a  href="/units/">{% trans "Units" %}</a></li>
                      </ul>
                  </li>

                  {% page_menu "pages/menus/sidebar.html" %}

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->


    <section id="main-content">
        {% nevercache %}
        {% if messages %}
        <div class="messages">
        {% for message in messages %}
        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        </div>
        {% endif %}
        {% endnevercache %}
        <section class="wrapper">
            <div style="margin-top: 10px;">
                <ul class="breadcrumb" style="background-color: white;">
                {% spaceless %}
                {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                {% endspaceless %}
                </ul>
            </div>
            {% block main %}{% endblock %}
          </section>
      </section>
      <!--main content end-->

      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
                {% trans "Powered by" %}
                <a href="http://mezzanine.jupo.org">Mezzanine</a>
                {% trans "and" %}
                <a href="http://www.djangoproject.com">Django</a>
                <span class="separator">|</span>
                {% trans "Theme based on" %} <a target="_blank" href="http://www.blacktie.co/2014/07/dashgum-free-dashboard/">DashGum</a>
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->

</section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{%  static "assets/js/jquery.js" %}"></script>
    <script src="{%  static "assets/js/jquery-1.8.3.min.js" %}"></script>
{#    <script src="{%  static "assets/js/bootstrap.min.js" %}"></script>#}
    <script class="include" type="text/javascript" src="{%  static "assets/js/jquery.dcjqaccordion.2.7.js" %}"></script>
    <script src="{%  static "assets/js/jquery.scrollTo.min.js" %}"></script>
    <script src="{%  static "assets/js/jquery.nicescroll.js" %}"type="text/javascript"></script>
{#    <script src="{%  static "assets/js/jquery.sparkline.js" %}"></script>#}
    {% bootstrap_javascript %}


    <!--common script for all pages-->
    <script src="{%  static "assets/js/common-scripts.js" %}"></script>

{#    <script type="text/javascript" src="{%  static "assets/js/gritter/js/jquery.gritter.js" %}"></script>#}
{#    <script type="text/javascript" src="{%  static "assets/js/gritter-conf.js" %}"></script>#}

    <!--script for this page-->
{#    <script src="{%  static "assets/js/sparkline-chart.js" %}"></script>#}
{#	<script src="{%  static "assets/js/zabuto_calendar.js" %}"></script>#}

{% include "includes/footer_scripts.html" %}

</body>
</html>
