{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block meta_title %}{% trans "Customers" %}{% endblock %}
{% block title %}{% trans "Customers" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active"><a href="{% url 'list_currencies' %}">{% trans "Currencies" %}</a></li>
    <li class="active">{% if product %}{% trans "Edit currency" %}{% else %}{% trans "Create currency" %}{% endif%}</li>
{% endblock %}

{% block main %}
    <div class="form-panel" style="margin: 30px">
    <h4 class="mb"><i class="fa fa-angle-right"></i>
    {% if currency %}{% trans "Edit currency" %}{% else %}{% trans "Create currency" %}{% endif%}</h4>
    <form method="POST" action="." class="form form-horizontal" style="margin: 30px;">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>{%  trans "Save" %}</button>
    </form>
    </div>
{% endblock %}