{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Currencies" %}{% endblock %}
{% block title %}{% trans "Currencies" %}{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Currencies" %}</h4>
        {% if currency_list %}
        <table class="table table-striped table-advance">
            <tr><th>Name</th><th>K&uuml;rzel</th><th>Rundung</th><th></th><th></th></tr>
            {% for currency in currency_list %}
                <tr>
                    <td>{{ currency.description }}</td>
                    <td>{{ currency.shortname }}</td>
                    <td>{{ currency.rounding }}</td>
                    <td>
                        <form method="POST" action="{% url 'edit_currency' currency.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-primary pull-right">{% trans "Edit" %}</button>
                        </form>
                    <td>
                        <form method="POST" action="{% url 'delete_currency' currency.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger pull-right">{% trans "Delete" %}</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <p><a href="{% url 'create_currency' %}">{% trans "Create a new currency" %}</a></p>
    </div>
{% endblock %}