{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Suppliers" %}{% endblock %}
{% block title %}{% trans "Suppliers" %}{% endblock %}

{% block main %}
    <div class="form-panel" style="margin: 30px">
    <h4 class="mb"><i class="fa fa-angle-right"></i>
        {% if supplier %}Edit supplier{% else %}Create supplier{% endif%}</h4>
    <form method="POST" action="." class="form-group">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>Save</button>
    </form>
    </div>
{% endblock %}