{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Units" %}{% endblock %}
{% block title %}{% trans "Units" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Units" %}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Units" %}</h4>
        {% if unit_list %}
        <table class="table table-striped table-advance">
            <tr><th>{% trans "Description" %}</th><th>{% trans "Shortname" %}</th><th></th></tr>
            {% for unit in unit_list %}
                <tr>
                    <td>{{ unit.description }}</td>
                    <td>{{ unit.shortname }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary" onclick="window.location.assign('{% url 'edit_unit' unit.pk %}')">{% trans "Edit" %}</button>
                        <button type="button" class="btn btn-sm btn-danger" onclick="window.location.assign('{% url 'delete_unit' unit.pk %}')">{% trans "Delete" %}</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <p><a href="{% url 'create_unit' %}">{% trans "Create a new unit" %}</a></p>
    </div>
{% endblock %}