Django==1.11.21
django-filebrowser==3.9.1
lxml==3.8.0
olefile==0.44
Pillow==6.2.0
psycopg2-binary==2.7.5
pytz==2017.2
django-grappelli==2.10.1
djangorestframework>=3.9.1
djangorestframework-xml==1.4.0
markdown==2.6.11
django-filter==1.1.0
