Django==2.2.9
django-filebrowser==3.12.1
lxml==4.4.2
olefile==0.46
Pillow==6.2.0
psycopg2-binary==2.8.4
pytz==2019.3
django-grappelli==2.13.3
djangorestframework==3.11.0
djangorestframework-xml==1.4.0
markdown==3.1.1
django-filter==2.2.0
pandas==0.25.2
matplotlib==3.1.1
