{% load i18n %}

<div class="btn-group btn-group-sm" role="group">
    {% if perms.crm_core.edit_customerbillingcycle %}
        <button class="btn btn-info" onclick="location.href=
                '{% url 'customerbillingcycle_edit' record.pk %}'" title="{% trans 'Edit Billing Cycle' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-pencil"></span></button>
    {% endif %}
    {% if perms.crm_core.delete_customerbillingcycle %}
        <button class="btn btn-danger" onclick="location.href=
                '{% url 'customerbillingcycle_delete' record.pk %}'" title="{% trans 'Delete Billing Cycle' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-trash"></span></button>
    {% endif %}
</div>