{% load i18n %}

<div class="btn-group btn-group-sm" role="group">
    {% if not record.has_quotes and not record.has_purchaseorders %}
    <button class="btn btn-primary btn-sm" onclick="location.href='{% url 'contract_create_quote' record.pk %}'"
            title="{% trans 'Create Quote' %}" data-toggle="tooltip" data-placement="top">
        <span class="glyphicon glyphicon-list-alt"></span></button>
    {% endif %}
    {% if not record.has_purchaseorders and not record.has_invoices %}
        <button class="btn btn-success btn-sm" onclick="location.href=
                '{% url 'contract_create_purchaseorder' record.pk %}'" title="{% trans 'Create Purchase Order' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-shopping-cart"></span></button>
    {% endif %}
    {% if record.has_purchaseorders and not record.has_invoices %}
        <button class="btn btn-warning btn-sm" onclick="location.href=
                '{% url 'contract_create_invoice' record.pk %}'" title="{% trans 'Create Invoice' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-usd"></span></button>
    {% endif %}
</div>