{% load i18n %}

    {% if perms.crm_core.add_customer %}
        <button class="btn btn-default" onclick="location.href=
                '{% url 'customer_create' %}'" title="{% trans 'Create Customer' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-plus"></span></button>
    {% endif %}
    {% if perms.crm_core.edit_customer %}
        <button class="btn btn-info" onclick="location.href=
                '{% url 'customer_edit' customer.pk %}'" title="{% trans 'Edit Customer' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-pencil"></span></button>
    {% endif %}
    {% if perms.crm_core.delete_customer %}
        <button class="btn btn-danger" onclick="location.href=
                '{% url 'customer_delete' customer.pk %}'" title="{% trans 'Delete Customer' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-trash"></span></button>
    {% endif %}