{% load i18n %}

<div class="btn-group btn-group-sm" role="group">
    {% if perms.crm_core.view_customer %}
        <button class="btn btn-default" onclick="location.href=
                '{% url 'customer_detail' record.pk %}'" title="{% trans 'View Customer' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-search"></span></button>
    {% endif %}
    {% if perms.crm_core.edit_customer %}
        <button class="btn btn-info" onclick="location.href=
                '{% url 'customer_edit' record.pk %}'" title="{% trans 'Edit Customer' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-pencil"></span></button>
    {% endif %}
    {% if perms.crm_core.delete_customer %}
        <button class="btn btn-danger" onclick="location.href=
                '{% url 'customer_delete' record.pk %}'" title="{% trans 'Delete Customer' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-trash"></span></button>
    {% endif %}
</div>