{% load i18n %}

<div class="btn-group btn-group-sm" role="group">
    {% if perms.crm_core.view_product %}
        <button class="btn btn-default" onclick="location.href=
                '{% url 'shop_product' record.slug %}'" title="{% trans 'View Product' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-search"></span></button>
    {% endif %}
    {% if perms.crm_core.edit_product %}
        <button class="btn btn-info" onclick="location.href=
                '{% url 'product_edit' record.pk %}'" title="{% trans 'Edit Product' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-pencil"></span></button>
    {% endif %}
    {% if perms.crm_core.delete_product %}
        <button class="btn btn-danger" onclick="location.href=
                '{% url 'product_delete' record.pk %}'" title="{% trans 'Delete Product' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-trash"></span></button>
    {% endif %}
</div>