{% extends "base/form_view_base.html" %}
{% load i18n bootstrap3 %}

{% block meta_title %}
    {% trans "Billing Cycle" %}
{% endblock %}

{% block title %}
    {% trans "Billing Cycle" %}
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active"><a href="{% url 'settings' %}">{% trans "Settings" %}</a></li>
    <li class="active">{% if billingcycle %}{% trans "Edit billing cycle" %}{% else %}{% trans "Create billing cycle" %}{% endif%}</li>
{% endblock %}

{% block main_header %}
    {% if billingcycle %}{% trans "Edit billing cycle" %}{% else %}{% trans "Create billing cycle" %}{% endif%}
{% endblock %}

{% block main_toolbar %}
    <button type='submit' class='btn btn-primary'>
        {% trans "Save" %}
    </button>

    <button type="button" class="btn btn-default"
            onclick="window.location.assign('{% url 'settings' %}')">
        {% trans "Cancel" %}
    </button>
{% endblock %}

{% block main_inner %}
    {% bootstrap_form form layout='horizontal' %}
{% endblock %}

{% block main_footer %}
    <button type='submit' class='btn btn-primary'>
        {% trans "Save" %}
    </button>

    <button type="button" class="btn btn-default"
            onclick="window.location.assign('{% url 'settings' %}')">
        {% trans "Cancel" %}
    </button>
{% endblock %}