{% extends "base.html" %}
{% load i18n staticfiles %}
{% load render_table from django_tables2 %}

{% block meta_title %}{% trans "Products" %}{% endblock %}
{% block title %}{% trans "Products" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-tables2.css' %}" />
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Products" %}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px; padding: 10px;">
    <h4><i class="fa fa-angle-right"></i> {% trans "Products" %}</h4>
        <div>
            {% render_table producttable "tables2/bootstrapped-tables2.html" %}
        </div>
        {% if perms.crm_core.add_product %}
        <p><a href="{% url 'product_create' %}">{% trans "Create a new product" %}</a></p>
        {% endif %}
    </div>
{% endblock %}