{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Products" %}{% endblock %}
{% block title %}{% trans "Products" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active"><a href="{% url 'product_list' %}">{% trans "Products" %}</a></li>
    <li class="active">{{ product.firstname }}&nbsp;{{ product.name }}</li>
{% endblock %}

{% block main %}
    <div class="content-panel" style="margin: 30px;">
        <h4><i class="fa fa-angle-right"></i> {% trans "Product Details" %}</h4>
        {% if product %}
            <div class="row well" style="margin: 30px;">
                <div class="col-lg-4">
                    <div style="margin-top: -20px;">
                        <h2>{{ product.item_prefix }}{{ product.product_number }}&nbsp;{{ product.item_title }}</h2>
                        <table>
                            <tr>
                                <td><small>{% trans 'Created' %}:&nbsp;</small></td>
                                <td><small>{{ product.dateofcreation }}</small></td>
                            </tr>
                            <tr>
                                <td><small>{% trans 'Last modified' %}:&nbsp;</small></td>
                                <td><small>{{ product.lastmodification }}</small></td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <h4>{{ product.product_description }}</h4>
                    <h4>{{ product.defaultunit }}</h4>
                    <h4>{{ product.tax }}</h4>
                    <h4>{{ product.accoutingProductCategorie }}</h4>
                    <br>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}