{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block meta_title %}{% trans "Products" %}{% endblock %}
{% block title %}{% trans "Products" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active"><a href="{% url 'product_list' %}">{% trans "Products" %}</a></li>
    <li class="active">{% if product %}{% trans "Edit product" %}{% else %}{% trans "Create product" %}{% endif%}</li>
{% endblock %}

{% block rightbar %}
{% endblock %}

{% block main %}
    <div class="form-panel" style="margin: 30px">
    <h4 class="mb"><i class="fa fa-angle-right"></i>
    {% if product %}{% trans "Edit product" %}{% else %}{% trans "Create product" %}{% endif%}</h4>
    <form method="POST" action="" class="form form-horizontal" style="margin: 30px;">
    {% csrf_token %}

    <div class="row well">
        <div style="margin: 0 12px 0 12px;">
            {% bootstrap_form form layout='horizontal' %}
        </div>
    </div>

    <button type='submit' class='btn btn-primary'>
        {% trans "Save" %}
    </button>

    <button type="button" class="btn btn-default"
            onclick="window.location.assign('{% url 'product_list' %}')">
        {% trans "Cancel" %}
    </button>

    </form>
    </div>
{% endblock %}