{% extends "base/form_with_inlines_base.html" %}
{% load i18n crispy_forms_tags crispy_forms_field crispy_forms_filters staticfiles bootstrap3 %}

{% block meta_title %}
    {% trans "Quotes" %}
{% endblock %}

{% block title %}
    {% trans "Quotes" %}
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active"><a href="{% url 'contract_list' %}">{% trans "Contracts" %}</a></li>
    <li class="active">{% if quote %}{% trans "Edit quote" %}{% else %}{% trans "Create Quote" %}{% endif%}</li>
{% endblock %}

{% block main_header %}
    {% if quote %}{% trans "Edit quote" %}{% else %}{% trans "Create Quote" %}{% endif%}
{% endblock %}

{% block main_toolbar %}
    <button type='submit' class='btn btn-primary'>
        {% trans "Save" %}
    </button>

    <button type="button" class="btn btn-default"
            onclick="window.location.assign('{% url 'contract_list' %}')">
        {% trans "Cancel" %}
    </button>
{% endblock %}

{% block main_inner %}
    <table>
        <tr>
            <td colspan="3"><h1>{{ quote }}</h1></td>
            <td><span class="label {{ quote.get_state_class }}">{{ quote.get_state }}</span></td>
        </tr>
        <tr>
            <td>{% trans 'Contract' %}:</td>
            <td width="10px"></td>
            <td><a href="{% url 'contract_detail' quote.contract.pk %}">
                {{ quote.contract }}</a>
            </td>
        </tr>
        <tr>
            <td>{% trans 'Customer' %}:</td>
            <td width="10px"></td>
            <td><a href="{% url 'customer_detail' quote.customer.pk %}">
                {{ quote.customer }}</a>
            </td>
        </tr>
        <tr>
            <td>{% trans 'Last Calculated Price' %}:</td>
            <td width="10px"></td>
            <td>{{ quote.cart.total_price|default_if_none:"" }}&nbsp;{{ quote.contract.default_currency }}</td>
        </tr>
        <tr>
            <td><small>{% trans 'Date of Creation' %}:</small></td>
            <td width="10px"></td>
            <td><small>{{ quote.dateofcreation|default_if_none:"" }}</small></td>
        </tr>
        <tr>
            <td><small>{% trans 'Last Modified' %}:</small></td>
            <td width="10px"></td>
            <td><small>{{ quote.lastmodification|default_if_none:"" }}
                {% if quote.lastmodifiedby %}&nbsp;{% trans 'by' %}&nbsp;
                    {{ quote.lastmodifiedby }}{% endif %}</small>
            </td>
        </tr>
    </table>

    {% crispy form %}

        <div>
            {{ position_formset.management_form|crispy }}
        </div>

        <table id="position" class="table table-condensed">
            <thead>
            <tr>
                <th width="100px">{{ position_formset.forms.0.quantity.label }}*</th>
{#                <th>{% trans 'Unit' %}</th>#}
                <th>{% trans 'Product' %}*</th>
                <th>{{ position_formset.forms.0.description.label }}</th>
                <th width="100px">{{ position_formset.forms.0.unit_price.label }}</th>
                <th width="100px">{{ position_formset.forms.0.total_price.label }}</th>
                <th width="20px"></th>
            </tr>
            </thead>

            <tbody>
            {% if form_show_errors and not form.is_extra %}
                {% include "bootstrap3/errors.html" %}
            {% endif %}

            {% for form in position_formset.forms %}

                <tr id="{{ form.prefix }}-row">
                    <td>
                        {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                        {% crispy_field form.quantity %}
                    </td>
{#                    <td>{% crispy_field form.item_unit %}</td>#}
                    <td>{% crispy_field form.product %}</td>
                    <td>{% crispy_field form.description %}</td>
                    <td>{% crispy_field form.unit_price %}</td>
                    <td>{% crispy_field form.total_price %}</td>
                    <td>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

{% endblock %}

{% block main_footer %}
    <button type='submit' class='btn btn-primary'>
        {% trans "Save" %}
    </button>

    <button type="button" class="btn btn-default"
            onclick="window.location.assign('{% url 'contract_list' %}')">
        {% trans "Cancel" %}
    </button>

{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        $(function() {
            $('#position tbody tr').formset({
                prefix: "{{ position_formset.prefix }}",
                deleteText: "&nbsp;"
            });
        });
    </script>
{% endblock %}
