name: Django CI

on:
  push:
    branches: [ "master", "development"]
  pull_request:
    branches: [ "master", "development" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Build Docker Image
      run: docker-compose build web
      
    - name: Run Tests in Docker
      run: docker-compose run --service-ports web pytest --cov=koalixcrm --cov-branch --cov-report xml:reports/coverage.xml --cov-report term

    - name: Upload Coverage Report
      uses: actions/upload-artifact@v2
      with:
        name: coverage-report
        path: reports/coverage.xml
