{% extends "base/form_view_base.html" %}
{% load i18n staticfiles %}

{% block extra_css %}
<style type="text/css">
    .add-row {
        padding-left:18px;
        background:url({% static  'assets/img/add.png' %}) no-repeat left center;
    }
    .delete-row {
        float:right;
        display:block;
        margin-left:4px;
        padding-left:18px;
        background:url({% static  'assets/img/delete.png' %}) no-repeat left center;
    }
</style>
{% endblock %}

{% block main %}
    <div class="panel panel-default" style="margin: 10px;">
    <form method="POST" action="" class="form form-horizontal">
    {% csrf_token %}

        <div class="panel-heading">
        <table>
            <tbody>
                <tr>
                    <td width="300px">
                        <h4>&nbsp;
                            <i class="fa fa-angle-right"></i>

                            {% block main_header %}
                            {% endblock %}

                        </h4>
                    </td>
                    <td>
                    {% block main_toolbar %}
                    {% endblock %}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <div  style="padding: 10px;">
            <div class="panel-body well">

                {% block main_inner %}
                {% endblock %}

            </div>
        </div>

        <div class="panel-footer">

            {% block main_footer %}
            {% endblock %}

        </div>

    </form>
    </div>
{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        $(function() {
            $('#position tbody tr').formset({
                prefix: "{{ inlines.0.prefix }}",
                deleteText: "&nbsp;",
                addText: "{% trans 'Add Position' %}"
            });
        });
    </script>
{% endblock %}
