{% extends "base/base.html" %}

{% block main %}
    <div class="panel panel-default" style="margin: 10px;">

        <div class="panel-heading">
        <table>
            <tbody>
                <tr>
                    <td width="300px">
                        <h4>&nbsp;
                            <i class="fa fa-angle-right"></i>

                            {% block main_header %}
                            {% endblock %}
                        </h4>
                    </td>
                    <td>
                    {% block main_toolbar %}
                    {% endblock %}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="panel-body">

            {% block main_inner %}
            {% endblock %}

        </div>

        <div class="panel-footer">

            {% block main_footer %}
            {% endblock %}

        </div>

    </div>
{% endblock %}

{% block extrascript %}
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip({
          container: 'body'
      })
    })
    </script>
{% endblock %}